
<div id="user-case-form-hidder">
  <%= simple_form_for @lead, url: lead_path(@lead), method: :patch, :remote => true, html: {class: 'form-inline'} do |f| %>
    <%= f.input :first_name, label: false, placeholder: ' First name', required: false %>
    <%= f.input :last_name, label: false, placeholder: ' Family name', required: false  %>
    <%= f.input :email, label: false, placeholder: ' Email' %>
    <%= f.button :submit, "SUBMIT", class: 'btn-CTA margin-left' %>
  <% end %>
</div>

