
<div id="user-case-form-hidder">
  <%= simple_form_for @lead, url: lead_path(@lead), method: :patch, :remote => true, html: {class: 'form-inline'} do |f| %>
    <%= f.input :first_name, inline_label: 'Yes, remember me', required: false %>
    <%= f.input :last_name, required: false  %>
    <%= f.input :email, hint: 'No special characters.', required: false  %>
    <%= f.button :submit %>
  <% end %>
</div>

