
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
      <%= link_to('/admin/profile') do %>
        <div class="sidebar-header">

  <!-- AVATAR -->
  <!-- PART DELETED HERE: Cloudinary photo -->
          <div class="persona" >
            <% if current_user.facebook_picture_url %>
              <%= image_tag current_user.facebook_picture_url, class: "avatar" %>
            <% else %>
              <%= image_tag 'user_profile_picture.png', class: "avatar" %>
            <% end %>

            <div class="user-name">
              <h4> <%= current_user.first_name %></h4>
            </div>
          </div>
        <!-- AVATAR END -->
        </div>
      <% end %>

        <div class="button-container">
          <ul class="list-unstyled">
             <li>
                <%= link_to "<  All Cases", admin_cases_path, class: "reverse-CTA" %>
              </li>
          </ul>
        </div>


        <ul class="list-unstyled components">
          <li id="start-point-1">
 <!--  -->
         <!--  <div href="#pageSubmenu" data-toggle="collapse" ></div> -->

<% unless @light_sidebar %>

              <%= link_to "Build Case", admin_case_path(@case), :id => "pageSubmenu-target" %>


                <ul class="collapse list-unstyled" id="pageSubmenu">

                    <li data-menuanchor="firstPage" class="active">
                      <a href="1">
                        <span>
                          <i data-menuanchor="firstPage" class="hidden-awsome active fa fa-dot-circle-o">&nbsp&nbsp</i>
                        </span>Input Message
                      </a>
                    </li>
                    <li data-menuanchor="secondPage"><a href="#secondPage/2"><span><i data-menuanchor="secondPage" class="hidden-awsome fa fa-dot-circle-o">&nbsp&nbsp</i></span>  Output Message</a></li>
                    <li data-menuanchor="thirdPage"><a href="#thirdPage/3"><span><i data-menuanchor="thirdPage" class="hidden-awsome fa fa-dot-circle-o">&nbsp&nbsp</i></span>  Variables</a></li>
                    <li data-menuanchor="fourthPage"><a href="#fourthPage/4"><span><i data-menuanchor="fourthPage" class="hidden-awsome fa fa-dot-circle-o">&nbsp&nbsp</i></span>  Test Data</a></li>
                    <li data-menuanchor="fifthPage"><a href="#fifthPage/5"><span><i data-menuanchor="fifthPage" class="hidden-awsome fa fa-dot-circle-o">&nbsp&nbsp</i></span>  Business Case</a></li>
                    <li data-menuanchor="sixthPage"><a href="#sixthPage/6"><span><i data-menuanchor="sixthPage" class="hidden-awsome fa fa-dot-circle-o">&nbsp&nbsp</i></span>  Publish</a></li>
                </ul>
            </li>
            <li class="pointer" id="start-point-2">
                <a href="#">Manage</a>
            </li>
            <li class="pointer" id="start-point-3">
                <%= link_to "Leads", admin_case_leads_path(@case) %>
            </li>
            <li class="pointer" id="start-point-4">
                <a href="#">Analytics</a>
            </li>
            <li class="pointer" id="start-point-5">
                <a href="#">API</a>
            </li>

<% else %>
   </li>
<% end %>

        </ul>
    </nav>
</div>





