
  <style>
      * {
        border: 1px solid black;
      }
    </style>


<div id="section-1">
  <div class="container">

    <div id="landing-inline">
  <div class="row text-center">

      <div class="col-sm-12 col-md-5">
          <div id="intro-paragraph">
            <h1>Help your customers make decisions</h1>
            <h3>Demonstrate the value of your product or service and generate more leads by building interactive business case forms</h3>
          </div>
      </div>

      <div class="col-sm-12 col-md-7">
          <div id="video-container">
            <video id="landing-video" width="99.9%" height="100%" poster="https://res.cloudinary.com/djpl2ed91/image/upload/v1504284104/Untitled2_sjmt1u.png"  ">
              <source src="https://res.cloudinary.com/djpl2ed91/video/upload/v1504282057/Demo_djrqyk.mp4" type="video/mp4">
            Your browser does not support the video tag.
            </video>
          </div>

      </div>
    </div>
  </div>
<div class="row">
      <div class="col-sm-12 col-md-12">
        <a class="btn btn-primary" id="get-started" href="/users/sign_up">GET STARTED</a>

        </div>

        </div>
               <div id="learn-more" class="text-center">
          <a href="#">Learn More<br />  <i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
        </div>
  </div>
</div>

<div id="section-2">
  <div class="container">
    <div class="row">
      <div id="how-it-works" class="text-center">
        <h2>HOW IT WORKS</h2>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-sm-12 col-md-4">
        <div class="row demo-step">
          <h1><strong>1.</strong></h1>
          <h4>Build a form</h4>
        </div>
        <div class="row demo-illustration">
          <%= image_tag( '3-left.png' )%>
        </div>
        <div class="row demo-information">
          <p>Build a natural language form to capture key variables</p>
        </div>
      </div>

      <div class="col-sm-12 col-md-4">
        <div class="row demo-step">
          <h1><strong>2.</strong></h1>
          <h4>Define a business case</h4>
        </div>
        <div class="row demo-illustration">
          <%= image_tag( '3-middle.png' )%>
        </div>
        <div class="row demo-information">
          <p>Define a business case to illustrate the value of your product using customer input</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="row demo-step">
          <h1><strong>3.</strong></h1>
          <h4>Deploy & generate leads</h4>
        </div>
        <div class="row demo-illustration">
          <%= image_tag( '3-right.png' )%>
        </div>
        <div class="row demo-information">
          <p>Deploy your form on your website or through targeted email campaigns</p>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div id="go-down" class="text-center">
        <a href="#"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
      </div>
    </div>


  </div>
</div>

<div id="section-3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" id="features">
        <h3>Features</h3>
      </div>
    </div>
  </div>
</div>

<div id="section-4" class="section">
  <h1 id="why-this-tool" class="text-center">WHY USE THIS TOOL?</h1>

  <div class="container">
    <div class="row row-big feature-adjust">
      <div class="col-xs-4 col-xs-offset-1 col-md-offset-0 col-md-3 ">
        <div class="big-icon">
          <%= image_tag( '4-topleft.png' )%>
        </div>
      </div>

      <div class="col-xs-4 col-xs-offset-1 col-md-offset-0 col-md-3">
        <div class="tool-information">
          <h3>Illustrate</h3>
          <p>Illustrate to your client how buying your product would compare to his current situation.</p>
       </div>
      </div>

      <div class="col-xs-4 col-xs-offset-1 col-md-offset-0 col-md-3">
        <div class="big-icon">
          <%= image_tag( '4-topright.png' )%>
        </div>
      </div>

      <div class="col-xs-4 col-xs-offset-1 col-md-offset-0 col-md-3">
        <div class="tool-information">
          <h3>Embed</h3>
          <p>Embed the use-cases generator in your own website, with a user-friendly design.</p>
       </div>
      </div>
    </div>
    <div class="row row-big feature-adjust">

      <div class="col-xs-4 col-xs-offset-1 col-md-offset-0 col-md-3">
        <div class="big-icon">
          <%= image_tag( '4-bottomleft.png' )%>
        </div>
      </div>

      <div class="col-xs-4 col-xs-offset-1 col-md-offset-0 col-md-3">
        <div class="tool-information">
          <h3>Inform</h3>
          <p>Make the break-even point in time perfectly clear</p>
       </div>
      </div>

      <div class="col-xs-4 col-xs-offset-1 col-md-offset-0 col-md-3">
        <div class="big-icon">
          <%= image_tag( '4-bottomright.png' )%>
        </div>
      </div>

      <div class="col-xs-4 col-xs-offset-1 col-md-offset-0 col-md-3">
        <div class="tool-information">
          <h3>Customize</h3>
          <p>Adapt your analysis perfectly to your client's needs</p>
       </div>
      </div>

    </div>
  </div>
</div>


<% content_for :after_js do %>

  <script type="text/javascript">

    $( document ).ready(function() {
      $('#landing-video').hover(function toggleControls() {
          console.log("hover");

          if (this.hasAttribute("controls")) {
              this.removeAttribute("controls")
          } else {
              this.setAttribute("controls", "controls")
          }
      });


      $('#landing-video').click(function () {
         if ($("#landing-video").get(0).paused) {
             $("#landing-video").get(0).play();
         } else {
             $("#landing-video").get(0).pause();
        }
      });

    });

  </script>
<% end %>

