<% @case.lines.order("id ASC").each do |line| %>
  <%= form_for line, url: admin_case_line_path(@case, line), html: {id: "line-#{line.id}"}, method: 'patch', remote: true do %>
    <div class="line-form">
      <div class="line-name">
        <div class="form-group-margin form-group">
          <input type="text" class="form-control" id="line-name"  name="name" placeholder="Name this line" value=<%= line.name %>>
        </div>
      </div>

      <div class="line-scenario line-item-centered">
        <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" <%= line.scenario == "A" ? "checked" : nil %>>
          A
        </label>
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" <%= line.scenario == "B" ? "checked" : nil %>>
          B
        </label>
        </div>
      </div>

      <div class="line-variable">
        <div class="form-group-margin form-group">
          <label class="sr-only" for="guest">Variable</label>
          <select id="guest" name="variable_id" class="form-control">
              <% @case.variables.where("category = ? OR category = ?", "input","expert").each do |variable| %>
               <option <%= line.variable.name == variable.name ? "selected" : nil %> value=<%= variable.id %> ><%=variable.name%></option>
              <%end%>
          </select>
        </div>
      </div>

      <div class="line-category">
        <div class="form-group-margin form-group">
          <label class="sr-only" for="category">Category</label>
          <select id="category" name="category" class="form-control">
               <option <%= line.category == "cost" ? "selected" : nil %> value="cost">Cost</option>
               <option <%= line.category == "revenue" ? "selected" : nil %> value="revenue">Revenue</option>
          </select>
        </div>
      </div>

      <div class="line-reccurence">
        <div class="form-group-margin form-group">
          <label class="sr-only" for="recurrence">Reccurence</label>
          <select id="recurrence" name="recurrence" class="form-control" selected=<%= line.recurrence %>>
               <option <%= line.recurrence == "oneoff" ? "selected" : nil %> value="oneoff">One-off</option>
               <option <%= line.recurrence == "monthly" ? "selected" : nil %> value="monthly">Monthly</option>
               <option <%= line.recurrence == "quarterly" ? "selected" : nil %> value="quarterly">Quarterly</option>
               <option <%= line.recurrence == "yearly" ? "selected" : nil %> value="yearly">Yearly</option>
          </select>
        </div>
      </div>

      <div class="line-startdate">
        <div class="form-group-margin form-group">
          <label class="sr-only" for="chkin">Start date</label>
          <div class="input-group">
            <input type="text" class="form-control chkin" id="chkin<%=line.id%>" name="start_date" placeholder="Start date" value=<%= line.start_date.strftime("%d/%m/%Y") %>>
            <span class="input-group-addon glyph-chkin"><i class="glyphicon glyphicon-calendar" id="glyph-chkin"></i></span>
          </div>
        </div>
      </div>

      <div class="line-enddate">
        <div class="form-group-margin form-group">
          <label class="sr-only" for="chkout">End date</label>
          <div class="input-group">
            <input type="text" class="form-control chkout" id="chkout<%=line.id%>"  name="end_date" placeholder="End Date" value=<%= line.end_date.strftime("%d/%m/%Y") %>>
            <span class="input-group-addon glyph-chkout"><i class="glyphicon glyphicon-calendar" id="glyph-chkout"></i></span>
          </div>
        </div>
      </div>

      <div class="line-escalator">
        <div class="form-group-margin form-group">
            <input class="form-control" type="number" value=<%= line.escalator%> id="example-number-input" placeholder="Annual escalator">
        </div>
      </div>

      <div class="line-new line-item-centered">
        <%= button_tag type: 'submit', class: "fabutton", id: "register-button" do %>
          <i class="fa fa-2x fa-floppy-o icon-pad" aria-hidden="true"></i>
        <%end%>
        <%= link_to '<i class="fa fa-2x fa-trash-o icon-pad"></i>'.html_safe, admin_case_line_path(@case, line),
            data: {:confirm => 'Are you sure?'}, :method => :delete, remote: true %>
      </div>
    </div>
  <%end%>
<%end%>
