<div class="app-screen-index">
  <div class="wrapper-admin-cases-index">

    <div class="col-xs-12 row">


      <div class="col-xs-12 col-sm-6 col-md-4">

<!--  New case: calls the new.js.erb (instead of html.erb)   -->
          <%= link_to new_admin_case_path, remote: true, class: "card-case", id: "plus-card" do %>
              <div class="card-case-details">
                <h1>+</h1>
                <p>Create new case</p>
              </div>
          <% end %>
      </div>

        <% @cases.each do |one_case| %>

      <div class="col-xs-12 col-sm-6 col-md-4">
          <%= link_to admin_case_path(one_case) do %>

          <!--  one card  -->
          <div class="card-case">
            <div class="card-case-details">
              <h4><%= one_case.name %></h4>

              <% if one_case.status == "published" %>
              <p style="color: green;"> <%= one_case.status %> </p>
              <% else %>
              <p style="color: orange;"> <%= one_case.status %> </p>
              <% end %>
            </div>

            <div class="card-case-info-wrapper">
              <div class="card-case-info">
                <div class="col-sm-12 card-case-info-element" id="first-scenario">
                  <p><%= one_case.scenario_a %>  </p>
                </div>
                <i class="fa fa-arrows-v"></i>
                <div class="col-sm-12 card-case-info-element" id="last-scenario">
                  <p> <%= one_case.scenario_b %> </p>
                </div>
              </div>
            </div>
          </div>

          <% end %>
          </div>
        <% end %>
      </div>


  </div>
</div>



<!-- MODAL -->
<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">

</div>


