<% content_for :after_js do %>

  <div class="app-screen-show">
    <div id="fullpage">

      <div class="section slide" id="firstPageid" data-anchor="slide1">
        <div class= "section-container" id="input-page">
          <%= render "saveinputbuilder" %>
        </div>
      </div>

      <div class="section slide" id="secondPageid" data-anchor="slide2">
        <div class= "section-container" id="output-page">
          <%= render "saveoutputbuilder" %>
        </div>
      </div>

      <div class="section slide" id="thirdPageid" data-anchor="slide3">
        <div class= "section-container" id="variable-page">
          <%= render "variablebuilder" %>
        </div>
      </div>

      <div class="section slide" id="fourthPageid" data-anchor="slide4">
        <div class= "section-container" id="testdata-page">
          <%= render "testdata" %>
        </div>
      </div>

      <div class="section slide" id="fifthPageid" data-anchor="slide5">
        <div class= "section-container" id="businesscase-page">
          <%= render "businesscase" %>
        </div>
      </div>

      <div class="section slide" id="sixthPageid" data-anchor="slide6">
        <div class= "section-container" id="publish-page">
          <%= render "publish" %>
        </div>
      </div>
    </div>
  </div>

<script>
     //opens the submenu on page load
        $('#pageSubmenu').collapse('show');
        $('[href="#pageSubmenu"]').attr('data-toggle', 'collapse')
      //sets the top-active class on page load
        $("#start-point-1").addClass("top-active")
</script>


<% end %>
