<% content_for :after_js do %>

  <div class="app-screen-show">
    <div id="fullpage">

      <div class="section " id="firstPageid">
        <div class= "section-container" id="input-page">
          <%= render "saveinputbuilder" %>
        </div>
      </div>

      <div class="section " id="secondPageid">
        <div class= "section-container" id="output-page">
          <%= render "saveoutputbuilder" %>
        </div>
      </div>

      <div class="section " id="thirdPageid">
        <div class= "section-container" id="variable-page">
          <%= render "variablebuilder" %>
        </div>
      </div>

      <div class="section " id="fourthPageid">
        <div class= "section-container" id="testdata-page">
          <%= render "testdata" %>
        </div>
      </div>

      <div class="section " id="fifthPageid">
        <div class= "section-container" id="businesscase-page">
          <%= render "businesscase" %>
        </div>
      </div>

      <div class="section " id="sixthPageid">
        <div class= "section-container" id="publish-page">
          <%= render "publish" %>
        </div>
      </div>
    </div>
  </div>

<script>
     //opens the submenu on page load
        $('#pageSubmenu').collapse('show');
        $('[href="#pageSubmenu"]').attr('data-toggle', 'collapse')
      //sets the top-active class on page load
        $("#start-point-1").addClass("top-active")
</script>


<% end %>
