<div class= "section-container" id="input-page">
  <%= render "saveinputbuilder" %>
</div>

<div class= "section-container" id="output-page">
  <%= render "saveoutputbuilder" %>
</div>

<div class= "section-container" id="variable-page">
  <%= render "variablebuilder" %>
</div>

<div class= "section-container" id="testdata-page">
  <%= render "testdata" %>
</div>

<div class= "section-container" id="businesscase-page">
  <%= render "businesscase" %>
</div>

<div class= "section-container" id="publish-page">
  <%= render "publish" %>
</div>

